h1 {
  text-align: center;
  color: navy;
}
h2 {
  background-color: rgba(135, 206, 250, 0.742);
  display: inline;
  border: 4px solid navy;
  padding: 10px;
}
h3 {
  background-color: rgba(218, 165, 32, 0.721);
}
ol {
  list-style-type: lower-alpha;
  padding: 10px;
  margin: 10px;
}
ul {
  list-style-type: square;
  padding: 10px;
  margin: 10px;
}
section {
  display: inline-block;
  border: 2px solid navy;
  background-color: rgba(218, 165, 32, 0.444);
  padding: 10px;
}
img {
  width: 150px;
  height: 130px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 5px;
}